<main class="welcome">
  <p style="color: green"><%= notice %></p>
    
  <div class=" welcome-content">
    <h1>Dazzle</h1>
  </div>

  <div class="welcome-content1 logins">
    <p class="welcome-btn"><%= link_to "Sign-Up", new_user_registration_path %></p>
    <p><%= link_to "Log-in", new_user_session_path %></p>
  </div>

</main>
